


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}

.btn-red {
  display: inline-block;
  min-width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 15px;
  padding: 15px 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #FF5151;
}
.btn-red-hover {
  background: #e42424;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6E6E82;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #232440;
  text-align: center;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 3px 12px -2px rgba(61, 87, 111, 0.2);
  border-radius: 0px 0px 6px 6px;
}

.box-account-type {
  padding: 5px 20px;
  margin-bottom: 25px;
  max-height: 170px;
  
}

.box-account-type .title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #232440;
  text-align: left;
  padding-top: 15%;
  padding-left: 20px;
}
.box-account-type p {
  text-align: left;
  padding-left: 20px;
}
/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
